# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Env files
.env
.env.*

# Alembic
alembic/versions/*

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Database files (если имеются)
*.db
